<div class="product">
  <div class="image">
    <img src="<%= image.url %>" />
  </div>
  <div class="details">
    <h1><%= name %></h1>
    <p class="price"><span class="currency">$</span><%= price %></p>
    <p class="descripcion"><%= description %></p>
    <dl>
    	<dt>Donde</dt>
    	<dd><%= location %></dd>
    	<dt>Vendedor</dt>
    	<dd><a href="mailto:<%= seller.email %>"><%= seller.email %></a></dd>
    	<dt>Compartir</dt>
    	<dd><a href="http://twitter.com/share" class="share-twitter">Twitter</a> / <a href="http://www.facebook.com/sharer.php" class="share-facebook">Facebook</a> / <a href="" class="share-email">Email</a></dd>
</div>