<div class="product">
  <div class="image">
    <img src="<%= image.url %>" />
  </div>
  <div class="details">
    <h1><%= name %></h1>
    <p class="price"><span class="currency">$</span><%= price %></p>
    <p class="descripcion"><%= description %></p>
    <dl>
    	<dt>Donde</dt>
    	<dd><%= location %></dd>
      <dt class="seller">Vendedor</dt>
    	<dd class="seller"><a href="mailto:<%= seller ? seller.email : "" %>"><%= seller ? seller.email : "" %></a></dd>
    	<dt>Compartir</dt>
    	<dd><a href="http://twitter.com/share" class="share-twitter">Twitter</a> / <a href="http://www.facebook.com/sharer.php" class="share-facebook">Facebook</a> / <a href="" class="share-email">Email</a></dd>
    </dl>
    <a href="#" class="action-button">¡Quiero esto!</a>
  </div>
</div>