<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Título' %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label 'Precio' %><br />
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label 'Email vendedor' %><br />
    <%= f.text_field :seller_email %>
  </div>
    
  <div class="field">
    <%= f.label 'Descripcion' %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label 'Ubicación' %><br />
    <%= f.text_field :location %>
    <% if user_signed_in? %>
      <%= link_to "Utilizar mi ubicación", root_path %>
    <%else%>
      <%= link_to "Sign in", new_user_session_path %>
    <%end%>
  </div>

  <div class="actions">
   <%= f.submit %>
  </div>
<% end %>
